
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index Productos</title>
</head>
<body>
    <h1>Index</h1>
    <div>
        <a href="../Productos/listado"> CLICK </a> <br/>
        @Html.ActionLink("Ir a listado","listado","Productos")
    </div>
</body>
</html>
