<h1>Order details</h1>
<table>
        <tr class="mat-card">
            <th>id</th>
            <th>{{miOrder.id}}</th>
        </tr>
        <tr  class="mat-card">
            <th>idCliente</th>
            <th>{{miOrder.idCliente}}</th>
        </tr>
        <tr  class="mat-card">
            <th>nombreVendedor</th>
            <th>{{miOrder.nombreVendedor}}</th>
        </tr>
        <tr  class="mat-card">
            <th>fechaPedido</th>
            <th>{{miOrder.fechaPedido}}</th>
        </tr>
        <tr  class="mat-card">
                <th>fecha de Entrega</th>
                <th>{{miOrder.fechaEntrega}}</th>
            </tr>
        <tr class="mat-card">
            <th>Precio Total</th>
            <th>{{miOrder.totalPedido}}</th>
        </tr>
        <tr class="mat-card">
            <th>productos</th>
            <th></th>
        </tr>
    </table>

